.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.8);

  .modal--content {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%);
    transition: all .4s;
    background-color: $WHITE;
    max-width: 60%;
    border-radius: 5px;
    min-width: 300px;

    &--title {
      padding: 20px;
      border-bottom: 1px solid #e5e5e5;
      font-size: $FONT_LARGE;

      .modal--close {
        float: right;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
      }
    }

    &--inner {
      padding: 40px;
      max-height: 90vh;
      overflow: auto;
    }
  }

  &-show {
    display: block;
    transition: all .4s;

    .modal--content {
      top: 50%;
      transform: translate(-50%, -50%);
      transition: all .4s;
    }
  }
}