$GREEN: #6CB520;
$WHITE: #FFFFFF;
$BLACK: #2F3B44;
$LIGHT_GRAY: #f5f5f5;
$GRAY: #2F3B44;
$RED: #c13f3f;
$BLUE: #0497FF;
$LIGHT_BLUE: #00a7e6;
$YELLOW: #FDD541;
$PINK: #FB419D;

$FONT_SMALL: 11px;
$FONT_REGULAR: 14px;
$FONT_LARGE: 20px;
$FONT_XLARGE: 30px;
