$GREEN: #6CB520;
$WHITE: #FFFFFF;
$BLACK: #444444;
$LIGHT_GRAY: #f5f5f5;
$GRAY: #AAAAAA;
$RED: #c13f3f;
$BLUE: #1391c1;
$LIGHT_BLUE: #00a7e6;
$YELLOW: #FDD541;
$PINK: #FB419D;

$FONT_SMALL: 11px;
$FONT_REGULAR: 14px;
$FONT_LARGE: 18px;
$FONT_XLARGE: 24px;